body {
    margin: 0px;
    background-color: #444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

$color-red-pale: rgb(240, 206, 199);
$color-red: rgb(211, 77, 28);
$color-turquoise: rgb(11, 128, 136);
$color-turquoise-pale: rgb(188, 225, 229);

.conteneur {
    box-sizing: border-box;
    height: 90vh;
    min-height: 500px;
    width: 80vw;
    min-width: 400px;
    max-width: 1000px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(224, 240, 242);
    margin: 0px auto;
    margin-top: 30px;
    box-shadow: 2px 2px 8px #111;

    header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .cote-vide {
            width: 250px;
        }

        h1 {
            background-color: $color-red-pale;
            color: $color-red;
            padding: 0px 10px;
            border-radius: 10px;
            border: 2px solid #333;
            margin: 40px auto;

        }

        .liens {
            width: 210px;
            margin: 20px;
        }
    }


    h3 {
        color: #333;
        font-size: 24px;
        margin: 30px 40px;
    }

    a {
        color:$color-turquoise;
        text-decoration: none;
    }

    .liens {
        margin: 20px 0px;
        padding: 5px 10px;
        background-color: $color-turquoise-pale;
        border-radius: 5px;
        border: 1px solid $color-turquoise;
        transition: all 0.3s;
        text-align: center;
    }
    
    .liens:hover {
        background-color: rgb(233, 253, 255);
        box-shadow: -3px 3px 3px $color-turquoise-pale;
        transform: scale(1.05, 1.05) translate(5px, -3px);
    }

    img {
        max-width: 200px;
        max-height: 200px;
    }

    .login-form {
        form {
            padding: 20px;
            border: 2px solid $color-turquoise;
            border-radius: 10px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            
            label {
                display: block;
                margin: 5px;
    
                span {
                    display: inline-block;
                    width: 100px;
                    color: $color-turquoise;
                }
            }
        }

    }

    .ajout-form {
        form {
            padding: 20px;
            border: 2px solid $color-turquoise;
            border-radius: 10px;

            label {
                display: block;
                margin: 5px;
    
                span {
                    display: inline-block;
                    font-size: 18px;
                    width: 100px;
                    color: $color-turquoise;
                }
            }
        }
    }

    .login{
        margin: 40px;
        input,
        select {
            // min-width: 320px;
            font-size: 16px;
            padding: 6px;
            border-radius: 5px;
            border: 2px solid $color-turquoise-pale;
        }
        input[type=submit] {
            background-color: $color-turquoise-pale;
            border: 2px solid $color-turquoise;
            margin: 0px auto;
            margin-top: 30px;
            padding: 6px 20px;
            cursor: pointer;
            transition: all 0.2s;
            

            &:hover {
                background-color: $color-turquoise;
            }
        }

        .soum {
            text-align: center;
        }

    }

    .activites {
        background-color: rgb(188, 225, 229);
        color: #333;
        height: 60vh;
        width: 60vw;
        min-width: 300px;
        max-width: 800px;
        margin-bottom: 50px;
        overflow: auto;

        .activite {
            max-width: 800px;
            color: #333;
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 15px;
            margin-left: 40px;
            padding: 10px;

            .activite-type {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                
                .titre {
                    color: #333;
                    margin-left: 50px;
                    min-width: 150px;
                }
                
                .type {
                    color: $color-turquoise;
                    font-size: 16px;
                    margin-right: 50px;
                    margin-left: 50px;
                }
            }

            .image {
                margin-left: 20px;
                min-width: 220px;
            }

            .supprimer { 
                margin: 0px 70px 0px 30px;

                div {

                    a {
                        color: $color-red;
                        font-size: 12px;
                    }

                    a:hover {
                        color: rgb(168, 67, 30);
                    }
                }
            }

        }

        
        .admin {
            color: $color-turquoise;
            font-size: 12px;
            margin: 5px auto;
            text-align : center;
        }

        .ligne {
            background-color: $color-turquoise;
            width: 80%;
            min-width: 250px;
            height: 2px;
            margin: 0px auto;

        }

    }

    .erreur {
        color: red;
        font-weight: bold;
    }
}