body {
    margin: 0px;
    background-color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

$color-red-pale: rgb(240, 206, 199);
$color-red: rgb(211, 77, 28);
$color-turquoise: rgb(11, 128, 136);
$color-turquoise-pale: rgb(188, 225, 229);

.conteneur {
    height: 90vh;
    min-height: 500px;
    width: 80vw;
    min-width: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(224, 240, 242);
    margin: 0px auto;
    margin-top: 30px;
    box-shadow: 0px 0px 5px #111;

    h1 {
        background-color: $color-red-pale;
        color: $color-red;
        padding: 0px 10px;
        border-radius: 10px;
        border: 2px solid #333;
        margin-bottom: 40px; 
    }

    h3 {
        color: #333;
    }

    a {
        color:$color-turquoise;
        text-decoration: none;
    }

    .liens {
        margin: 20px 0px;
        padding: 5px 10px;
        background-color: $color-turquoise-pale;
        border-radius: 5px;
        border: 1px solid $color-turquoise;
        transition: all 0.3s;
    }
    
    .liens:hover {
        background-color: rgb(233, 253, 255);
        box-shadow: -3px 3px 3px $color-turquoise-pale;
        transform: scale(1.05, 1.05) translate(5px, -3px);
    }

    img {
        max-width: 200px;
        max-height: 200px;
    }

    form {
        label {
            display: block;
            margin: 5px;

            span {
                display: inline-block;
                width: 100px;
                color: $color-turquoise;
            }
        }
    }

    .activites {
        background-color: rgb(188, 225, 229);
        color: #333;
        // font-size: 24px;
        // font-weight: bold;
        height: 60vh;
        width: 60vw;
        min-width: 300px;
        margin-bottom: 50px;
        overflow: auto;

        .activite {
            color: #333;
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 15px;
            margin-left: 20px;
            padding: 20px;

            .activite-type {
                align-items: center;
                display: flex;
                justify-content: start;

                .image {
                    margin-left: 20px;
                    width: 240px;
                }
    
                .titre {
                    color: #333;
                    margin: 0px 20px;
                    min-width: 150px;
                }
    
                .type {
                    color: $color-turquoise;
                    font-size: 16px;
                    margin-right: 100px;
                
                }
    
            }
            .supprimer { 
                margin: 0px 30px 0px 60px;
                display: flex;
                justify-content: end;

                div {

                    a {
                        color: $color-red;
                        font-size: 12px;
                    }

                    a:hover {
                        color: rgb(168, 67, 30);
                    }
                }
            }

        }

        .ligne {
            background-color: #aaa;
            width: 50vw;
            min-width: 250px;
            height: 2px;
            margin: 0px auto;

        }

    }

    .erreur {
        color: red;
        font-weight: bold;
    }
}